.container{
    width: 99%;
    display: flex;
    border: 1px Solid #F7BFB6;
}

.container-msg{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #FFF;
    max-height: 100vh;
    overflow: scroll;
 }
 .user{
    display: flex;
    justify-content: space-around;
    border: 1px Solid #F7BFB6;
    padding: 1rem;
}
.logo-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nuevochat{
    display: flex;
    background-color: #FFF;
    border: 1px Solid #F7BFB6;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.boton {
    padding: 10px 20px;
    background-color: #A491d2;
    color: white;
    border: none;
    cursor: pointer;
  }
  .boton:hover {
    background-color: #7e58bf;
  }
  .chatbox{
    background-color: #FFF;
}
.contactos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px Solid #F7BFB6;
    border-radius: 5%;
    padding: 1rem;
}
.contact{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

 .box{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8EBE4;
}